
.cliente{
    color: var(--cor-letra-menu);
    
}

h1{
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    
}


div fieldset ul {
    margin: 5px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

fieldset legend{
    margin: 5px 25px;
    padding: 0px 5px;
}
div fieldset{
    margin: 10px;

}

.fieldset{
    margin: 15px;
}

div fieldset label{
    margin: 0px 15px 0px 0px;
    display: inline-block;
}

main form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 44px;
    background: #2b292a;

    color: #fff;
    font-weight: 500;
    font-size: 20px;

    border: none;
    margin-top: 30px;
    margin-left: min(43.5%, 585px);
    cursor: pointer;
    transition: all 600ms;
    
}
main form button:hover {
    text-decoration: underline;
    transition: all 0.3s ease-in;
    background-color: white;
    color: black;
}