@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
    --cor-bg-body: #ffffff;
    --cor-bg-header: #000000;
    --cor-bg-section1: #ffffff;
    --cor-bg-section2: #ffffff;
    --cor-bg-section3: #ffffff;
    --cor-bg-section4: #ffffff;
    --cor-bg-footer: #242323;
    --cor-letra-menu: #ffffff;
    --cor-letra-menu-hover: #000000;
}

body{
    background-color: var(--cor-bg-body);
    /* margin: auto; */
}

header{
    
    background: var(--cor-bg-header);
    height: 75px;
    

    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 70px;

    position:sticky;
    top: 0px;
    z-index: 99;
}

header img{
    /* align-self: left; */
    height: 70px;
}

header nav ul{
    display: flex;
    list-style: none;
}

header ul li{
    margin: 0px 15px;
}

header nav a{
    text-decoration: none;

    font-weight: 350;
    font-size: 20px;
    /* line-height: 33px; */

    color: var(--cor-letra-menu);
    transition: all 0.5s ease-out;
}

header nav a:hover{
    text-decoration: underline;
    transition: all 0.3s ease-in;
    background-color: var(--cor-bg-body);
    color: var(--cor-letra-menu-hover);
}

#section1{
height: 250px;
background-color: var(--cor-bg-section1);
}

#section2{
height: 250px;
background-color: var(--cor-bg-section2);
}
.dot1 {
  position: absolute;
  margin-top: 90px;
  margin-left: 160px;
  height: 25px;
  width: 25px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
}

.dot2 {
  position: absolute;
  margin-top: 90px;
  margin-left: 355px;
  height: 25px;
  width: 25px;
  background-color: rgb(255, 213, 0);
  border-radius: 50%;
  display: flex;
  flex-direction:row ;
}

.dot3 {
  position: absolute;
  margin-top: 90px;
  margin-left: 520px;
  height: 25px;
  width: 25px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
}

.dot4 {
  position: absolute;
  margin-top:90px;
  margin-left: 695px;
  height: 25px;
  width: 25px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
}

#section3{
height: 250px;
background-color: var(--cor-bg-section3);
}


#section4{
height: 250px;
background-color: var(--cor-bg-section4);
}

.linha {
  position: absolute;
  margin-top: 100px;
  margin-left: 170px;
  background-color: rgb(150, 156, 150);
  height: 3px;
  width: 547px;
}

principal {
  position: relative;
  z-index: -1;
}

.caixa1 {
  position: absolute;
  width: 115px;
  height: 115px;
  margin-left: 140px;
  /* border: 1px gray; */
}

.caixa2 {
  position: absolute;
  width: 115px;
  height: 115px;
  margin-left: 315px;
  margin-top: 112px;
  /* border: 1px gray; */
}

.caixa3 {
  position: absolute;
  width: 115px;
  height: 115px;
  margin-left: 500px;
  /* border: 1px gray; */
}

.link {
  color: #000;
}

.caixa4 {
  position: absolute;
  width: 115px;
  height: 115px;
  margin-left: 665px;
  margin-top: 112px;
  /* border: 1px gray; */
}


.texto1 {
  width : 90%;
  height: 50px;
  display: block;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
  /* overflow: auto; */
  font-size: 12px;
  background-color: white;
}

/*teste de borda*/

.box {
  border: 5px solid darkblue;
}

.box {
  border: 5px solid darkblue;
  width: 20vw;
  height: 20vh;
  font-size: 10vh;
}

.box {
  width: 200px;
}
.minibox {
  width: 50px;
}
.width {
  width: 100%;
}
.max {
  max-width: 100%;
}

.titulo {
  width: 100%
}

.imagem1 {
  width: 25%;
  /* display:flex; */
  /* margin-top: 7rem; */
  /* position: absolute; */
  /* width: 115px; */
  /* height: 115px; */
  /* margin-left: 140px; */
  /* border: 3px red; */
}


.divisao1 {
  margin-top: 2rem;
  display: flex; 
  flex-wrap:wrap; 
  /* width: 70rem; 
  height: 20rem; */
  /* border-style: solid; */
  /* border-width: 3px; */
  /* border-color: green; */
  justify-content:space-around;
  
}

.divisao-titulo2 {
  margin-top: 2rem;
  display: flex; 
  flex-wrap:wrap; 
  /* width: 70rem; 
  height: 20rem; */
  /* border-style: solid; */
  border-width: 3px;
  /* border-color: red; */
  text-align: center;
  /* justify-content:center; */
  align-content: center;
  
}

.divisao-titulo {
  margin-top: 20rem;
  display: flex; 
  flex-wrap:wrap; 
  /* width: 70rem; 
  height: 20rem; */
  /* border-style: solid; */
  border-width: 3px;
  /* border-color: red; */
  text-align: center;
  /* justify-content:center; */
  align-content: center;
  
}

@media(max-widwdth: 480px){

}
@media( max-width:682px){

}


footer{
    background-color: var(--cor-bg-footer);    

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    align-content: center;
    padding: 30px 70px;
}

footer img#logo-footer{
    height: 130px;
    padding: 10px;
}

footer div#div-logo-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div h2{
    color: var(--cor-letra-menu);
    
}

footer div{
    color: var(--cor-letra-menu);
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 20px 0px;
            
}

footer div ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

footer li.title{
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0px;
}

footer iframe{
    padding: 10px 0px;
}

.redes-sociais{
    width: 40px;
    height: 35px;
}

#redes-sociais{
    display: inline-block; 
}


.dot1 {
    position: absolute;
    margin-top: 94px;
    margin-left: 160px;
    height: 15px;
    width: 15px;
    background-color: #050;
    border-radius: 50%;
    display: flex;
  }
  
  .dot2 {
    position: absolute;
    margin-top: 94px;
    margin-left: 355px;
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: flex;
  }
  
  .dot3 {
    position: absolute;
    margin-top: 94px;
    margin-left: 520px;
    height: 15px;
    width: 15px;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
  }
  
  .dot4 {
    position: absolute;
    margin-top:94px;
    margin-left: 695px;
    height: 15px;
    width: 15px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
  }
  
  .linha {
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    background-color: green;
    height: 3px;
    width: 690px;
  }
  
  principal {
    position: relative;
  }
  
  .caixa1 {
    position: absolute;
    width: 115px;
    height: 115px;
    margin-left: 140px;
    /* border: 1px gray; */
  }
  
  .caixa2 {
    position: absolute;
    width: 115px;
    height: 115px;
    margin-left: 315px;
    margin-top: 112px;
    /* border: 1px gray; */
  }
  
  .caixa3 {
    position: absolute;
    width: 115px;
    height: 115px;
    margin-left: 500px;
    /* border: 1px gray; */
  }
  
  .caixa4 {
    position: absolute;
    width: 115px;
    height: 115px;
    margin-left: 665px;
    margin-top: 112px;
    /* border: 1px gray; */
  }
  
  
  .texto1 {
    width : 90%;
    height: 50px;
    display: block;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    /* overflow: auto; */
    font-size: 12px;
    background-color: white;
  }
  