@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
    --cor-bg-body: #ffffff;
    --cor-bg-header: #000000;
    --cor-bg-section1: #ffffff;
    --cor-bg-section2: #ffffff;
    --cor-bg-section3: #ffffff;
    --cor-bg-section4: #ffffff;
    --cor-bg-footer: #242323;
    --cor-letra-menu: #ffffff;
    --cor-letra-menu-hover: #000000;
}

body{
    background-color: var(--cor-bg-body);
    /* margin: auto; */
}

header{
  width: 1000px;
  margin: 0 auto;
  background: var(--cor-bg-header);
  height: 75px;
    
  display: flex;
  justify-content:space-between;
  align-items: center;
    
  position:sticky;
  top: 0px;
  z-index: 99;
}

header img{
    height: 70px;
    margin-left: 10px;
 }



header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    
}

header ul li{
    margin: 0px 15px;
}

header nav a{
    text-decoration: none;

    font-weight: 350;
    font-size: 20px;
    /* line-height: 33px; */

    color: var(--cor-letra-menu);
    transition: all 0.5s ease-out;
}

header nav a:hover{
    text-decoration: underline;
    transition: all 0.3s ease-in;
    background-color: var(--cor-bg-body);
    color: var(--cor-letra-menu-hover);
}
h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  padding: 20px;

}

.body  {
  width: 1000px;
  margin: 0 auto;
}

#section1{
height: 480px;
background-color: var(--cor-bg-section1);

}
.mainsection1 {
  background-color: rgb(222, 221, 235);
  height: 95%;
 
}
.mainsection1 .pictures {
  display: flex;
  justify-content: center;
  align-items: center;

}
.mainsection1 img {
  width: 270px;
  height: 210px;
  padding: 2px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;

}
.mainsection1 .text {
  width: 270px;
  height: 70px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  text-align: center;
}
.mainsection1 .tenhointeresse {
  display: block;
    width: 200px;
    text-align: center;
    margin-left: 50px;

    height: 40px;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color,background-color,box-shadow,border-color;

    color: rgb(0, 0, 0);
    background-color: rgb(242, 247, 247);
    border-color: black;
    
    padding: 5px 16px;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    border: 1px solid;
    border-radius: 6px;
}
.tenhointeresse a {
  color: #000;

}

#section2{
height: 430px;
background-color: var(--cor-bg-section2);

}
h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;

}
.mainsection2 {
  border: 1px solid black;
  width: 100%;
  height: 95%;
}
.linha {
  position: relative;
  top: 173px;
  right: -35px;
  background-color: rgb(10, 163, 10);
  height: 3px;
  width: 927px;
}

.caixa1 {
  width: 180px;
  height: 100px;
  position: relative;
  float: left;
  left: 59px;
  bottom: -30px;
  background-color: rgb(243, 232, 232);
  padding: 14px;
  text-align: center;
  
  
}
.dot1 {
  background-color: #000;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  position: relative;
  float: left;
  left: 57px;
  bottom: -47px;
  z-index: 5;

}

.caixa2 {
  width: 180px;
  height: 100px;
  position: relative;
  float: left;
  left:  100px;
  bottom: -230px;
  background-color: rgb(243, 232, 232);
  padding: 14px;
  text-align: center;
}
.dot2 {
  background-color: rgb(150, 71, 71);
  width: 25px;
  height: 25px;
  border-radius: 15px;
  position: relative;
  float: left;
  left: 65px;
  bottom: 138px;
  z-index: 5;
}

.caixa3 {
  width: 180px;
  height: 100px;
  position: relative;
  float: right;
  right: 298px;
  bottom: -30px;
  background-color: rgb(243, 232, 232);
  padding: 14px;
  text-align: center;
}
.dot3 {
  background-color: rgb(211, 33, 33);
  width: 25px;
  height: 25px;
  border-radius: 15px;
  position: relative;
  float: left;
  left: 63px;
  bottom: -44px;
  z-index: 5;
}
.caixa4 {
  width: 180px;
  height: 100px;
  position: relative;
  float: right;
  right: -132px;
  bottom: -230px;
  background-color: rgb(243, 232, 232);
  padding: 14px;
  text-align: center;
}
.dot4 {
  background-color: rgb(36, 163, 89);
  width: 25px;
  height: 25px;
  border-radius: 15px;
  position: relative;
  float: left;
  left: 64px;
  bottom: 156px;
  z-index: 5;
}

#section3{
height: 400px;
background-color: var(--cor-bg-section3);
}

.mainsection3 {
  border: 1px solid black;
  width: 100%;
  height: 95%;
}

.link {
  color: #000;
}

.box {
  border: 5px solid darkblue;
}

.box {
  border: 5px solid darkblue;
  width: 20vw;
  height: 20vh;
  font-size: 10vh;
}

.box {
  width: 200px;
}
.minibox {
  width: 50px;
}
.width {
  width: 100%;
}
.max {
  max-width: 100%;
}

.titulo {
  width: 100%
}

.imagem1 {
  width: 240px;
  height: 172px;
  margin-left: 6px;
 
}

.divisao1 {
  margin-top: 2rem;
  display: flex; 
  flex-wrap:wrap; 
  justify-content:space-around;
  
}

.divisao-titulo {
  
  display: flex; 
  flex-wrap:wrap; 
  border-width: 3px;
  text-align: center;
  align-content: center;
}

#section4 {
  height: 400px;
  background-color: var(--cor-bg-section4);
}

.mainsection4 {
  border: 1px solid black;
  width: 100%;
  height: 95%;
}

.mainsection4 h2 {
  text-align: center;
}
.mainsection4 h3 {
  text-align: center;
  margin-top: 10px;
}
.mainsection4 .pictures {
  width: 200px;
  height: 285px;
  margin-left: 60px;
  

  display: flex;
}



@media(max-widwdth: 480px){

}
@media( max-width:682px){

}


footer{
  width: 1000px;
  margin: 0 auto;
  background-color: var(--cor-bg-footer);    
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  align-content: center;
  padding: 10px 40px;
}

footer img#logo-footer{
    height: 130px;
    padding: 6px;
}

footer div#div-logo-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div h2{
    color: var(--cor-letra-menu);
    
}

footer div{
    color: var(--cor-letra-menu);
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 20px 0px;
            
}

footer div ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

footer li.title{
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0px;
    text-align: center;
}

footer iframe{
    padding: 10px 0px;
    width: 400px;
    height: 180px;
}

.redes-sociais{
    width: 40px;
    height: 35px;
}

#redes-sociais{
    display: inline-block; 
}
