<%- include('./partials/header') %>
<body>

    <%- include('./partials/headerNavBarCliente') %>

    <link rel="stylesheet" href="/css/areacliente.css">
    <link rel="stylesheet" href="/css/style.css">
    <main>

        <section id="servicos">
            <h2>Bella Design</h2>
            <section id="carrocel-projetos">
                <div class="container-projetos">
                <div class="card-projetos">
                    <img src="/img/foto-projeto-sala.jpg" alt="" >
                    <img src="/img/foto-projeto-quarto.jpg" alt="" >
                    <img src="/img/foto-projeto-cozinha.jpg" alt="" >
                    <img src="/img/foto-projeto-banheiro.jpg" alt="" >
                    <img src="/img/foto-projeto-sala.jpg" alt="" >
                                                     
                </div>
                </div>
            </section>
        </section>
                    
        <div class="body">
            <section id="section1">
                <div class="mainsection1">
                    <div>
                        <h1>Meus Projetos</h1>
                    </div>
                    <div class="pictures">
                        <div>
                            <img src="/img/foto-projeto-novo.jpg" alt="">
                            
                            <a class="link-projeto" href="/user/novoProjeto">Novo Projeto</a>
                        </div>
                        <div>
                            <img src="/img/foto-projeto-andamento.jpg" alt="">
                            
                            <a class="link-projeto" href="/user/novoProjeto">Projetos em andamento</a>
                        </div>
                        <div>
                            <img src="/img/foto-projeto-finalizado.jpg" alt="">
                            
                            <a class="link-projeto" href="/user/novoProjeto">Projetos Finalizados</a>
                        </div>
                    </div>
                </div>
            </section>
    </main>
</body>
<%- include('./partials/footer') %>