<%- include('./partials/header') %>

<body>
    <%- include('./partials/headerNavBar') %>
<link rel="stylesheet" href="/css/itensDetalhados.css">
    
    <main>
        <div>
            <h1 id="harmonico" >Especificação minuciosa de cada item necessário</h1>
        </div>
        <div class="carousel-wrapper">
            <div class="carousel-container">      
                <div class="carousel">
                    <div class="image-one">
                        <img src="/img/itens-detalhados/1.jpg" alt="" width="800px" height="400px">
                    </div>
                    <div class="image-one">
                        <img src="/img/itens-detalhados/2.jpg" alt="" width="800px" height="400px">
                    </div>
                    <div class="image-one">
                        <img src="/img/itens-detalhados/3.jpg" alt="" width="800px" height="400px">
                    </div>
                    <div class="image-one">
                        <img src="/img/itens-detalhados/4.jpg" alt="" width="800px" height="400px">
                    </div>
                    <div class="image-one">
                        <img src="/img/itens-detalhados/5.jpg" alt="" width="800px" height="400px">
                    </div>
                    <div class="image-one">
                        <img src="/img/harmonizadas/Horizontalidade.jpg" alt="" width="800px" height="400px">
                    </div>
                </div>
            </div>
        </div>
        <div class="h2">
            <h2 id="h2"> Serão detalhados todos itens necessários no projeto, como os materiais, cores, revestimentos, gesso, iluminação, pintura, móveis, posicionamentos e encaixes, dimensões de peças e armários, montagem dos pisos, e muito mais.</h2>
        </div>
        </div>    
            <a class="tenhointeresse" href="/user/cadastro">Tenho Interesse</a>
        </div>
    </main>

</body>
<%- include('./partials/footer') %>
