<%- include('./partials/header') %>

<body>

    <%- include('./partials/headerNavBar') %>
    
<link rel="stylesheet" href="/css/login.css">

    <main>
        <div class="login">
            <div class="header">
                <h1>Entrar</h1>
            </div>
            <div class="body">
                <form action="/login/areacliente" method="post" >
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha">
                    <a href="#" class="forget">Esqueceu a Senha?</a>
                    <button type="submit">Entrar</button>
                </form>
            </div>

            <p class="footer">Novo para Belle Design?
                <a href="/cadastro">Criar Conta</a>
            </p>
        </div>

    </main>
</body>
<%- include('./partials/footer') %>