<%- include('./partials/header') %>

    <link rel="stylesheet" href="./css/login.css">

    <main>


    <div class="login">
        <div class="header">
            <h1>Entrar</h1>
        </div>
        <div class="body">
            <form action="/usuarios" method="post" enctype="multipart/form-data">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha">
                <a href="#" class="forget">Esqueceu a Senha?</a>
            </form>
                     
            <!-- <button type="submit">Entrar</button> -->
            <div class="botao">

                <a class="botaologin" href="./areacliente.html">Continuar</a>
            </div>
            
        </div>
        
       <p class="footer">Novo para Belle Design?
        <a href="./cadastro.html">Criar Conta</a>
       </p>
    </div>


    </main>

<%- include('./partials/footer') %>