<%- include('./partials/header') %>

<body>
    <%- include('./partials/headerNavBar') %>
<link rel="stylesheet" href="/css/plantasHarmonizadas.css">
<link rel="stylesheet" href="/css/vantagens.css">
    
    <main>
        <div>
            <h1 id="harmonico">Vantagens exclusivas</h1>
        </div>
        <div class="carousel-wrapper">
            <div class="carousel-container">      
                <div class="carousel">
                    <div class="image-one">
                        <img src="/img/vantagens/vantagens1.jpg" alt="" width="800px" height="400px">
                    </div>
                    <div class="image-one">
                        <img src="/img/vantagens/vantagens2.jpg" alt="" width="800px" height="400px">
                    </div>
                    <div class="image-one">
                        <img src="/img/vantagens/vantagens3.jpg" alt="" width="800px" height="400px">
                    </div>
                    <div class="image-one">
                        <img src="/img/vantagens/vantagens4.jpg" alt="" width="800px" height="400px">
                    </div>
                    <div class="image-one">
                        <img src="/img/vantagens/vantagens5.jpg" alt="" width="800px" height="400px">
                    </div>
                    <div class="image-one">
                        <img src="/img/vantagens/vantagens6.jpg" alt="" width="800px" height="400px">
                    </div>
                </div>
            </div>
        </div>
        <div class="h2">
            <h2 id="h2">Projetos de interiores bem planejados e eficientes proporcionam diversos benefícios aos ambientes, melhorando a experiência daqueles que os utilizarão. </h2>
        </div>
        </div>    
            <a class="tenhointeresse" href="/cadastro">Tenho Interesse</a>
        </div>
    </main>

</body>
<%- include('./partials/footer') %>
