<%- include('./partials/header') %>

<body>
    <%- include('./partials/headerNavBar') %>
<link rel="stylesheet" href="/css/plantasHarmonizadas.css">
<link rel="stylesheet" href="/css/vantagens.css">
    
    <main>
        <div>
            <h1 id="harmonico">Vantagens exclusivas</h1>
        </div>
        <div class="carousel-wrapper">
            <div class="carousel-container">      
                <div class="carousel">
                    <div class="image-one">
                        <img src="/img/harmonizadas/1.jpg" alt="" width="800px" height="400px">
                    </div>
                    <div class="image-one">
                        <img src="/img/harmonizadas/2.jpg" alt="" width="800px" height="400px">
                    </div>
                    <div class="image-one">
                        <img src="/img/harmonizadas/3.jpg" alt="" width="800px" height="400px">
                    </div>
                    <div class="image-one">
                        <img src="/img/harmonizadas/4.jpg" alt="" width="800px" height="400px">
                    </div>
                    <div class="image-one">
                        <img src="/img/harmonizadas/5.jpg" alt="" width="800px" height="400px">
                    </div>
                    <div class="image-one">
                        <img src="/img/harmonizadas/Horizontalidade.jpg" alt="" width="800px" height="400px">
                    </div>
                </div>
            </div>
        </div>
        <div class="h2">
            <h2 id="h2">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h2>
        </div>
        </div>    
            <a class="tenhointeresse" href="/cadastro">Tenho Interesse</a>
        </div>
    </main>

</body>
<%- include('./partials/footer') %>
