<header>
    <img src="/img/logo-footer.jpg" alt="Logomarca da Belle Design. Possui a letra D dentro da letra B com um fundo de imagem que remete a textura de um marmore preto com alguns detalhes em branco">

    <nav>
        <ul>
            <li><a href="/index">HOME</a></li>
            <li><a href="/user/login">ENTRAR</a></li>
            <li><a href="/user/cadastro">CADASTRAR</a></li>
        </ul>
    </nav>
</header>