<header>
    <img src="/img/logo-footer.jpg" alt="Logomarca da Belle Design. Possui a letra D dentro da letra B com um fundo de imagem que remete a textura de um marmore preto com alguns detalhes em branco">

    <nav>
        <ul>
            <li><a href="/index">HOME</a></li>
            <li>Olá <%= nome %></li>
            <li><img src="/img/avatar2.png"  alt=""></li>
        </ul>
    </nav>
</header>